recruitment_workflows/simple_chatbot_workflow.json
{
  "name": "Simple Chatbot Agent with OpenAI, Memory & Wikipedia",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "hostedChat"
      },
      "id": "a1f8b2c3-d4e5-f6g7-h8i9-j0k1l2m3n4o5",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "promptType": "auto",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a helpful AI assistant with access to Wikipedia for factual information. You can:\n\n1. Answer general questions using your knowledge\n2. Search Wikipedia when users ask for factual information about people, places, events, or topics\n3. Remember previous parts of our conversation\n4. Provide helpful, accurate, and engaging responses\n\nWhen someone asks about factual information that would benefit from up-to-date or detailed information, use the Wikipedia tool to search for relevant articles. Always be conversational and helpful!"
        }
      },
      "id": "b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        980,
        360
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-3.5-turbo"
        }
      },
      "id": "c3d4e5f6-g7h8-i9j0-k1l2-m3n4o5p6q7r8",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "d4e5f6g7-h8i9-j0k1-l2m3-n4o5p6q7r8s9",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {},
      "id": "e5f6g7h8-i9j0-k1l2-m3n4-o5p6q7r8s9t0",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1200,
        520
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-22T14:45:00.000Z",
  "versionId": "1"
}